body {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    line-height: 1.5;
    margin:3em;
    margin-top:10em;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

.content-container{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width:100%;
    margin: 10px 0px;
}

.content-80{
    width:80%;
    float:left;
}

.content-20{
    width:20%;
    float:left;
}

.wordwrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }

.button{
    border: 0px;
    background-color: #0179D8;
    color: white;
    align-content: center;
    text-align: center;
    padding: 3px 10px
}

.searchbtn{
    float:right;
}

.browsebtn{
    margin-right:4px;
    float:left;
}

.searchbar-container{
    overflow: hidden;
    padding-right: 1em;
}

.searchbar{
    width:100%;
    border:solid .5px #666;
    padding:2px;
}

.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

#header{
    background-color: #4078C0; 
    position:absolute;
    left:0;
    right:0;
    top:0;
    padding:3em;
}

#content{
    padding:3em;
}

.main-heading{
    color:white;
}

.homepageURL{
    overflow-x:none;
}
